

.hero{
    max-width: 80%;
    margin: 7rem  auto;
}
.hero .home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}



.hero .home .contain{
    flex: 1 1 40rem;
    padding: 4rem;
   
}

.hero .home .image-contain{
    flex: 1 1 40rem;
    
}

.hero .home .contain h2{
    padding: 2rem 0;
    font-size: 3rem;
    color: #fff;
    font-weight: 600;
}

.hero .home .contain p{
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: .1rem;
}

.hero .home .image-contain .contin{
    width: 30rem;
    height: 30rem;
    border-radius: 20% 20% 20% 40%;
    border: .3rem solid #C0B7E8;
    margin-left: 20rem;
    overflow: hidden;
}

.hero .home .image-contain img{
    width: 30rem;
    height: 30rem;
    object-fit: cover;
}

.btn-home,
.arr{
    margin-top: 2rem;
}

.btn-flex{
    display: flex;
    align-items: center;
}
.home-btn li {
    padding: 1rem 3rem;
    border-radius: 5rem;
    font-size: 1.3rem;
    color: #FFF;
    text-transform: uppercase;
    border: .1rem solid #8176AF;
    background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(45, 38, 73, 0.5) 0%, #211E2E 100%);
}


.home-btn li:hover{
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    
    color: #211E2E;
}

.contact-list{
    margin-top: 2.5rem;
    padding: 2rem;
    background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(45, 38, 73, 0.5) 0%, #211E2E 100%);
    border-radius: 5rem;
    flex-wrap: wrap;
}

.list1,
.list2,
.list3{
    display: flex;
    align-items: center;
    cursor: pointer;
}


.list1 .text,
.list2 .text,
.list3 .text{
    color: #fff;
    margin-left: 1rem;
}

.list1 .text h3,
.list2 .text h3,
.list3 .text h3{
    font-size: 2rem;
}
.list1 .text p,
.list2 .text p,
.list3 .text p{
    font-size: .9rem;
}


.contact-list .line{
    width: .1rem;
    height: 5rem;
    background: #8176AF;
}



.contact .contain1{
    display: flex;
    margin-top: 10rem;
    padding: 2rem;
    flex-wrap: wrap;
}

.contact .contain2 .btn-info,
.contact1 .contain1 .btn-info,
.contact .contain1 .btn-info{
    flex: 1 1 40rem;
}


.contact .contain2 .text,
.contact1 .contain1 .text,
.contact .contain1 .text{
    flex: 1 1 40rem;
}


.contact .contain1 .btn-info h1,
.contact1 .contain1 .btn-info h1{
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
}

.contact .contain1 .arrow,
.contact1 .contain1 .arrow{
    display: flex ;
    align-items: center;
}

.contact .contain1 .arrow h3,
.contact1 .contain1 .arrow h3{
    font-size: 1.5rem;
    margin-right: 1rem;
    color: #fff;
}

.contact .contain2 .text p,
.contact1 .contain1 .text p,
.contact .contain1 .text p{
    font-size: 1rem;
    color: #fff;
}


.contact .contain2 {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    padding: 2rem;
}


.contain2 .btn-info .contin{
    width: 25rem;
    height: 20rem;
    border-radius: 20% 20% 40% 20%;
    border: .3rem solid #C0B7E8;
    overflow: hidden;
}

.contain2 .btn-info .image img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.contain2 .text h1{
    font-size: 2rem;
    color: #fff;
}

.contain2 .text h3{
    color: #fff;
    font-size: 1.5rem;
    margin: .5rem 0;
}




.hero2{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    /* height: 50rem; */
}

.val .hero2 .back1{
    border: .2rem solid #302C42;
    box-shadow: 0 0 .3rem rgba(255, 255, 255, .4);
    width: 23rem;
    margin: 1rem;
}

.contact1 .contain1 {
    display: flex;
    margin-top: 10rem;
    padding: 2rem;
    flex-wrap: wrap;
}



.cart-value{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
 
}

.cart-value .box{
    width: 24rem;
    background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
    margin: 2rem 1rem;
    text-align: center;
    padding: 2rem;
}

.cart-value .box .image{
    width: 12rem;
    height: 12rem;
    border: .5rem solid #fff;
    border-radius: 50%;
    overflow: hidden;
    margin: 2rem auto;
}
.cart-value .box .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-value .box .title{
    font-size: 1.7rem;
    color: #fff;
    margin-bottom: 1.4rem;
    text-transform: uppercase;
}

.cart-value .box p{
    font-size: 1rem;
    color: #fff;
    margin-bottom: 1.4rem;
}

.cart-value .box .btn{
    margin-bottom: 2rem;
}

@media (max-width:768px){
    .hero .home .image-contain .contin{
   
    margin:0 auto ;
    }

}


