@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;    
}

body {
    background-color: #302C42;
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 95%;
    margin: 0 auto;
}

.App{
    display: flex;
    flex-direction: column;
}

.uppercase{
    text-transform: uppercase;
}

.capitalize{
    text-transform: capitalize;
}

button{
    background: none;
    outline: none;
    border: none;
}